<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="RetirementPlanner.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <httpProtocol>
            <customHeaders>
                <add name="JSON" value="C:\WINDOWS\system32\inetsrv\asp.dll" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
